<h1>Create new Item</h1>

<form action="/items/create" method="POST">
    <input name="name" type="text" placeholder="item name">
    <input name="price" type="number" placeholder="item price">
    
    <select name="category">
        <% categories.each do |category|%>
        <option value="<%= category.id %>"><%= category.name %></option>
        <% end %>
    </select>
    
    <button type="submit">Submit</button>
</form>