<html>

<body>
    <form action='/item' method='POST'>
        <label>Nama :</label>
        <input type="text" name="nama" > <br>
        <label>Harga :</label>
        <input type="number" name="harga" > <br>
        <input type="submit" value="Submit">
    </form>
</body>

</html>